/* Handling All Fonts */
body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* Banner */
@media (max-width: 750px){
  .banner-bg {
    background-position: bottom left;
    background-image: url("Couch React.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-size:100%;
    height: 100vh;
    background-color: #fadcdc;
    z-index: 0;
  }
}

@media (min-width:751px) and (max-width:4000px){
  .banner-bg {
    background-position: bottom left;
    background-image: url("Couch React.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-size: 100%;
    height: 100vh;
    background-color: #fadcdc;
    z-index: 0;
  }
}

/* Header */
.header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  align-items: center;
  z-index: 1000;
}
.logo {
  margin-left:3.5%;
  letter-spacing: 0.45rem;
  display: flex;
  font-size: 25px;
}
.logo-link {
  text-align: center;
  text-decoration: none;
  color: black;
  z-index: 1000;
}
.nav-list {
    margin: 3%
}
.nav-item {
  padding: 0 20px;
  text-decoration: none;
  color: black;
  letter-spacing: 1.7px;
  font-weight: 450;
}


/* Footer */
.footer {
  align-items: center;
  width: 100%;
  justify-content: center;
  z-index: 1;
}
.footer-copyright {
  color: white;
  bottom: 0;
  width: 100%;
  position: absolute;
  font-size: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  vertical-align: center;
  text-align: center;
  z-index: 100;
}